$bg-black: #111111;
$bg-dark: #1a1a1a;
$bg-gray-1: #444444;
$text-white: #FFFFFF;
$text-gray: #D4D4D4;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.1);